* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-left: calc(50% - 580px);
  padding-right: calc(50% - 580px);
}
.container {
  padding-left: 140px;
}
img {
  margin-top: 30px;
  margin-bottom: 75px;
}
.main__nameCourse {
  
}
.reasonCourse {
  
}
.type {
  /* 133.333% */
}
.directionsCourse {

}
.description__text {
   /* 133.333% */
}
.application__text {
  
}
.trainingButton {

}
.trainingText {
  
}
/* расположение блоков */
.reasonsCourses {
 
  /* justify-content: space-between; */
}
.nameCourse {
 
}
.description {
 
}
.application {
  
}
.reasons {
  
}
.point {
 
}
.point_text {
   /* 125% */
}
.directionsCourses {

}
.img {
 
}
.typesList {
  
}
