/* .Wrapper__choice-workout {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: #ffffff;
}

.Conteiner__choice-workout {
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
} */

.choice-workout {
    /* border: 1px solid black; */
}

.choice-workout-heading {
   
}

.choice-workout-box {


}

.choice-workout-item {
    

}

.choice-workout-item:hover{
   
   
}

.item-text {
   

}

/* .item-text-block {
    width: 278px;
    height: 100px;
} */



.item-text-title {
    
}

/* .item-text-title-block {
    width: 135px;
    height: 46px;
} */


.item-text-day {
   
}



.real-checkbox {
    
}

.custom-checkbox {
    
}


.custom-checkbox::before {
    
}

.real-checkbox:checked+.custom-checkbox::before {
   

}

/* 
#check:checked~.item-text>.item-text-title {
    color: #06B16E;
}

#check:checked~.item-text>.item-text-day {
    color: #06B16E;
}

#check:checked~.item-text {
    border: 1px solid #06B16E;
}

#check-1:checked~.item-text>.item-text-title {
    color: #06B16E;
}

#check-1:checked~.item-text>.item-text-day {
    color: #06B16E;
}

#check-1:checked~.item-text {
    border: 1px solid #06B16E;
}

#check-2:checked~.item-text>.item-text-title {
    color: #06B16E;
}

#check-2:checked~.item-text>.item-text-day {
    color: #06B16E;
}

#check-2:checked~.item-text {
    border: 1px solid #06B16E;
}

#check-3:checked~.item-text>.item-text-title {
    color: #06B16E;
}

#check-3:checked~.item-text>.item-text-day {
    color: #06B16E;
}

#check-3:checked~.item-text {
    border: 1px solid #06B16E;
}

#check-4:checked~.item-text>.item-text-title {
    color: #06B16E;
}

#check-4:checked~.item-text>.item-text-day {
    color: #06B16E;
}

#check-4:checked~.item-text {
    border: 1px solid #06B16E;
} */